<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="medium"
        defaultHref="/account-form"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="progress-container">
        <span class="title">FINALIZAR</span>
        <img src="../../assets/img/progress3.svg" alt="Progress" class="logo" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <div class="piggy-container">
    <img src="../../assets/img/oinkPolicia.svg" alt="Icon" class="piggy-icon" />
    <div>
      <p class="text-title">ESTAS MUY CERCA DE SER PARTE DE COINK.</p>
      <p class="text-instruction">
        Solo es necesario que leas detenidamente el contrato que se encuentra al
        final de esta pantalla y lo aceptes.
      </p>
    </div>
  </div>

  <div class="contract-container">
    <p class="text-title">LO MÁS IMPORTANTE</p>
    <p class="text-instruction">
      Para la apertura del Depósito de Bajo Monto en COINK debes ser una persona
      natural que de acuerdo con nuestra legislación vigente te encuentres en
      plena capacidad para adquirir derechos y contraer obligaciones.<br /><br />
      Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo
      hasta por 8 salarios mínimos en el mes y realizar débitos por el mismo
      valor. Si deseas sobrepasar estos límites debes solicitarnos la apertura
      de un Depósito Ordinario COINK Persona Natural.<br /><br />
      Solo puedes tener una cuenta COINK de Bajo Monto y podrás utilizar tu
      dispositivo móvil para consultar tu saldo, tus movimientos, realizar tus
      transacciones y administrar tu cuenta.<br /><br />
      Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.
    </p>

    <div class="contract-section">
      <p class="contract-title">Lee tu contrato</p>
      <ion-checkbox
        justify="start"
        alignment="start"
        labelPlacement="end"
        color="success"
        (ionChange)="onCheckboxChange($event)"
        [checked]="acceptContract"
        >He leído y acepto el contrato</ion-checkbox
      >
    </div>
    <div class="button">
      <button type="button" (click)="onClickButton()" class="button-accept">
        <!-- [disabled]="!accountForm.valid" -->

        ACEPTAR
      </button>
    </div>
  </div>
</ion-content>
