ion-content {
  --background: #ffffff; /* Fondo blanco */
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.logo-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 32px;
}

.sub-label {
  font-size: 18pt;
  text-align: center;
  color: #1eea00;
  font-weight: bold;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-register {
  align-items: center;
  background-color: #1EEA00;
  color: #004B40;
  display: inline-flex;
  font-size: 16pt;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  justify-content: center;
  width: 40vh;
  height: 32pt;
  border-radius: 40pt;
}

.button-login {
  align-items: center;
  background-color: #004B40;
  color: #ffffff;
  font-size: 16pt;
  font-weight: bold;
  display: inline-flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
  width: 40vh;
  height: 32pt;
  border-radius: 40pt;
}
