<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="medium"
        defaultHref="/phone-number"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="progress-container">
        <span class="title">DATOS DE CUENTA</span>
        <img src="../../assets/img/progress2.svg" alt="Progress" class="logo" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-loading
    [isOpen]="status() === 'loading'"
    message="Por favor espera..."
    spinner="crescent"
  ></ion-loading>

  <div *ngIf="errorMessage()" class="error-global">
    <ion-text color="danger">
      <p>{{ errorMessage() }}</p>
    </ion-text>
  </div>

  <div class="piggy-container">
    <img src="../../assets/img/oink-m.svg" alt="Icon" class="piggy-icon" />
    <div>
      <p class="text-title">¿CUÁLES SON TUS DATOS?</p>
      <p class="text-instruction">
        Ahora necesitamos saber algunos datos tuyos
      </p>
    </div>
  </div>

  <form novalidate [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div class="account-data-container">
      <ion-label>Documento de identidad</ion-label>

      <div class="item-container">
        <ion-item>
          <ion-select
            label="Tipo de documento"
            label-placement="floating"
            formControlName="docType"
            placeholder="Seleccione"
            interface="popover"
          >
            @if (documentTypes.length > 0) { @for(doc of documentTypes; track
            doc){
            <ion-select-option [value]="doc">{{doc}}</ion-select-option>
            } }@else {
            <ion-select-option value="ti"
              >Tarjeta de identidad</ion-select-option
            >
            <ion-select-option value="cc"
              >Cédula de ciudadanía</ion-select-option
            >
            <ion-select-option value="ce"
              >Cédula de extranjería</ion-select-option
            >
            }
          </ion-select>
        </ion-item>
        <p
          [ngStyle]="{'visibility': accountForm.get('docType')?.invalid && accountForm.get('docType')?.touched ? 'visible' : 'hidden'}"
          class="error-text"
        >
          Selecciona un documento
        </p>
      </div>

      <div class="item-container">
        <ion-item>
          <ion-input
            type="text"
            formControlName="docNumber"
            label="Número de documento"
            labelPlacement="floating"
            placeholder=""
            maxlength="10"
          ></ion-input>
        </ion-item>
        <p
          [ngStyle]="{'visibility': accountForm.get('docNumber')?.invalid && accountForm.get('docNumber')?.touched ? 'visible' : 'hidden'}"
          class="error-text"
        >
          Ingresa un documento válido
        </p>
      </div>

      <div class="item-container">
        <ion-item>
          <ion-input
            type="date"
            formControlName="docExpeditionDate"
            label="Fecha de expedición del documento"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
        <p
          [ngStyle]="{'visibility': accountForm.get('docExpeditionDate')?.invalid && accountForm.get('docExpeditionDate')?.touched ? 'visible' : 'hidden'}"
          class="error-text"
        >
          Ingresa una fecha
        </p>
      </div>

      <div class="item-container">
        <ion-item>
          <ion-input
            type="date"
            formControlName="docBirthDate"
            label="Fecha de nacimiento"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
        <p
          [ngStyle]="{'visibility': accountForm.get('docBirthDate')?.invalid && accountForm.get('docBirthDate')?.touched ? 'visible' : 'hidden'}"
          class="error-text"
        >
          Ingresa una fecha
        </p>
      </div>

      <div class="item-container">
        <ion-item>
          <ion-select
            label="Género"
            label-placement="floating"
            formControlName="gender"
            placeholder="Seleccione"
            interface="popover"
          >
            @if (genders.length>0) { @for(gender of genders; track gender){
            <ion-select-option [value]="gender">{{gender}}</ion-select-option>
            } }@else {
            <ion-select-option value="masculino">Masculino</ion-select-option>
            <ion-select-option value="femenino">Femenino</ion-select-option>
            }
          </ion-select>
        </ion-item>
        <p
          [ngStyle]="{'visibility': accountForm.get('gender')?.invalid && accountForm.get('gender')?.touched ? 'visible' : 'hidden'}"
          class="error-text"
        >
          Selecciona un género
        </p>
      </div>

      <hr />

      <ion-label>Configura tu cuenta</ion-label>

      <div class="item-container">
        <ion-item>
          <ion-input
            type="email"
            formControlName="email"
            label="Correo electrónico"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
        <p
          [ngStyle]="{'visibility': accountForm.get('email')?.invalid && accountForm.get('email')?.touched ? 'visible' : 'hidden'}"
          class="error-text"
        >
          Ingresa un correo electrónico
        </p>
      </div>

      <div class="item-container">
        <ion-item>
          <ion-input
            type="email"
            formControlName="confirmEmail"
            label="Confirmar correo electrónico"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
        <p
          [ngStyle]="{'visibility': accountForm.hasError('notMatch') && accountForm.get('confirmEmail')?.touched ? 'visible' : 'hidden'}"
          class="error-text"
        >
          Este campo no coincide con el correo electrónico
        </p>
      </div>

      <div class="item-container">
        <ion-item>
          <ion-input
            type="password"
            formControlName="pin"
            label="PIN de seguridad"
            labelPlacement="floating"
            maxlength="4"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <p
          [ngStyle]="{'visibility': accountForm.get('pin')?.invalid && accountForm.get('pin')?.touched ? 'visible' : 'hidden'}"
          class="error-text"
        >
          Ingresa un PIN
        </p>
      </div>

      <div class="item-container">
        <ion-item>
          <ion-input
            type="password"
            formControlName="confirmPin"
            label="Confirmar PIN de seguridad"
            labelPlacement="floating"
            maxlength="4"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <p
          [ngStyle]="{'visibility': accountForm.hasError('notMatch') && accountForm.get('confirmPin')?.touched ? 'visible' : 'hidden'}"
          class="error-text"
        >
          Este campo no coincide con el PIN
        </p>
      </div>

      <hr />
    </div>

    <div class="button">
      <button
        type="submit"
        [ngStyle]="{
          'background-color': accountForm.valid ? '#1EEA00' : '#EEEEEE',
          'color': accountForm.valid ? '#004B40' : '#757575'
        }"
        class="button-next"
      >
        SIGUIENTE
      </button>
    </div>
  </form>
</ion-content>
