<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="/phone-number"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="progress-container">
        <span class="title">DATOS DE CUENTA</span>
        <img src="../../assets/img/progress2.svg" alt="Progress" class="logo" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">account-form</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
